.autohide {
    visibility: hidden;
    background-color: white;
    padding: 2px;
    font-weight: bold;
    z-index: 2;
    opacity: 0;
    transition: visibility 0s 4s, opacity 4s linear;
}
.autoshow {
    visibility: visible;
    background-color: white;
    padding: 2px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}
