dl.commits {
    margin-left: 6rem;
    text-indent: -5rem;
}

.label {
    font-family: var(--mono-family);
    border-radius: 6px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0;
    font-size: 65%;
}
