@media screen {
    @import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);

    --background-color: #f8f8f8;
    --foreground-color: #000000;
    --faded-color: #7f7f7f;
    --quote-color: #dddddd;

    max-width: 50rem;
    font-size: 16pt;
    background-color: var(--background-color);
    color: var(--foreground-color);
    line-height: 1.2;
}

html {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-family);
    height: 100%;
    width: 100%;
    line-height: 1.25rem;
    font-size: 16pt;
    max-width: 50rem;
    min-height: 100%;
}

body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1, h2, h3 {
    font-family: var(--title-family);
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
    border-bottom: none;
    color: inherit;
}

article > h1 {
    background-color: #2061A2;
    color: #F8F8F8;
    margin: 0;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-top: 0.5rem;
}

h2 {
    font-size: 1.25rem;
    text-indent: -3rem;
    margin-left: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.day + .day {
    border-top: 2px solid #2061A2;
}

.toots {
    margin-top: 2rem;
}

.toot {
    margin-bottom: 1rem;
}

.toot + .toot {
    border-top: 1px dashed black;
}

details {
    padding-left: 3rem;
}

.pubdate {
    font-family: var(--title-family);
    color: var(--faded-color);
    font-size: 90%;
}

.link {
    font-family: var(--title-family);
    font-size: 90%;
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

.toot > p,
.toot > .markup {
    padding-left: 3rem;
}
    
.toot h2 .toot-id {
    display: none;
    color: #aaaaaa;
}

.toot h2:hover .toot-id {
    display: inline;
}

code {
    white-space: pre;
    font-size: 80%;
    font-family: var(--mono-family);
}
