@media screen {
    @import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);

    --background-color: #f8f8f8;
    --foreground-color: #000000;
    --faded-color: #7f7f7f;
    --quote-color: #dddddd;

    max-width: 50rem;
    font-size: 16pt;
    background-color: var(--background-color);
    color: var(--foreground-color);
    line-height: 1.2;
}

html {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-family);
    height: 100%;
    width: 100%;
    line-height: 1.25rem;
    font-size: 16pt;
    max-width: 50rem;
    min-height: 100%;
}

body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 1rem;
    padding-right: 1rem;
}

#content > p {
    padding-left: 1rem;
    padding-right: 1rem;
}

#content > div {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-family);
    font-weight: 600;
    font-style: normal;
}

h1 {
    background-color: #2061A2;
    color: #F8F8F8;
    margin: 0;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    padding-top: 0.5rem;
}

div.changed-files details {
    margin-top: 1rem;
}

details summary {
    cursor: pointer;
}

details summary span {
    text-decoration: underline;
}    

.fake-h5 {
    font-family: var(--title-family);
    font-weight: 600;
    font-style: normal;
    color: #1572AE;
    font-size: 0.8rem;
    padding-top: 1rem;
}

.outline-4, .outline-5 {
    padding-left: 2rem;
}

.outline-6, .outline-7 {
    padding-left: 1rem;
}

h2 {
    border-bottom: 4px solid #67B3E3;
    color: #13679D;
}

h3, h4, h5, h6 {
    color: #1572AE;
}

h3 {
    border-bottom: 1px solid #B5DAF1;
}

h4 {
    border-bottom: 1px dotted #C9E3F5;
}

code {
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    color: #444444;
    font-family: monospace;
    /* font-size: 0.93em; */
    margin: 0px 1px;
    padding: 0px 2px;
}

pre code {
    background-color: inherit;
    border: inherit;
    color: inherit;
}

a, a:visited {
    color: inherit;
}

#footnotes {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 90%;
}

#footnotes hr {
    width: 1in;
    margin-left: 0;
}

.footnoteref {
    text-decoration: none;
}

.diffs {
    color: var(--faded-color);
}

li {
    padding-bottom: 0.25rem;
}

table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0;
}

table thead tr th {
    border-bottom: 1px solid black;
}

table tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    
table tr th {
    text-align: left;
    border-right: 1px solid black;
    padding: 0.25rem;
}

table tr td {
    text-align: left;
    border-right: 1px solid black;
    padding: 0.25rem;
}

blockquote,
.CHAT {
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: var(--quote-color);
}

.branch, .pull-request {
    padding-left: 2rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
}

.pull-request div {
    margin-left: 2rem;
}

.prdesc {
    background-color: var(--quote-color);
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}

ul.changed-files {
    font-family: var(--mono-family);
}

@media screen and (max-width: 600px) {
    p {
        line-height: 1.75;
    }
    li {
        padding-bottom: 1rem;
    }
    body {
        padding-top: 0;
    }
    .footnoteref {
        display: none;
    }
    #footnotes {
        display: none;
    }
    .branch, .pull-request {
        padding-left: 0.5rem;
    }

    .pull-request p,
    .pull-request > div {
        padding-left: 0.5rem;
    }
}

