@media screen {
    @import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);

    --background-color: #f8f8f8;
    --foreground-color: #000000;
    --faded-color: #7f7f7f;
}

html {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-family);
    height: 100%;
    width: 100%;
    line-height: 1.25rem;
    font-size: 16pt;
    /* background-color: var(--background-color); */
    color: var(--foreground-color);
    max-width: 50rem;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-family);
    font-weight: 600;
    font-style: normal;
}

a, a:visited {
    color: inherit;
}

#footnotes {
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 90%;
}

#footnotes hr {
    width: 1in;
    margin-left: 0;
}

.footnoteref {
    text-decoration: none;
}

.diffs {
    color: var(--faded-color);
}

li {
    padding-bottom: 0.25rem;
}

table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0;
}

table thead tr th {
    border-bottom: 1px solid black;
}

table tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    
table tr th {
    text-align: left;
    border-right: 1px solid black;
    padding: 0.25rem;
}

table tr td {
    text-align: left;
    border-right: 1px solid black;
    padding: 0.25rem;
}
