/* Show diffs */

div.diff-add { background-color: #99ff99 }
div.diff-del { background-color: #ff9999; text-decoration: line-through }
div.diff-chg { background-color: #ffff99 }
div.diff-off {  }

span.diff-chg:before,
span.diff-chg:after {
content: "";
}

div.diff-chg:before,
div.diff-chg:after {
content: "";
}

span.diff-add { background-color: #99ff99 }
span.diff-del { background-color: #ff9999; text-decoration: line-through }
span.diff-chg { background-color: #ffff99 }
span.diff-off {  }

td.diff-add   { background-color: #99ff99 }
td.diff-del   { background-color: #ff9999; text-decoration: line-through }
td.diff-chg   { background-color: #ffff99 }
td.diff-off   {  }

p.element-syntax-chg { border: solid thick yellow; background-color: #ff99ff }

div.example-chg { border: solid thick yellow; background-color: #40e0d0; padding: 1em }
