* text=auto
* text eol=lf

# Known to be text
*.xml text
*.h text
*.bat text
*.css text
*.dtd text
*.ent text
*.html text
*.java text
*.jflex text
*.mod text
*.properties text
*.rdf text
*.rnc text
*.sh text
*.svg text
*.text text
*.txt text
*.xquery text
*.xqueryx text
*.xsd text
*.xsl text

# Known to be binary
*.bin binary
*.doc binary
*.exe binary
*.gif binary
*.gz binary
*.jar binary
*.jpg binary
*.pdf binary
*.png binary
