.DS_Store
/.gradle/
/build/
/specifications/xpath-functions-31/build/ns-codepoint.html
/specifications/xpath-functions-31/build/ns-errors.html
/specifications/xpath-functions-31/build/ns-insensitive.html
/specifications/xpath-functions-31/build/ns-uca.html
/specifications/xpath-functions-31/build/ns-xpath-array-functions.html
/specifications/xpath-functions-31/build/ns-xpath-functions.html
/specifications/xpath-functions-31/build/ns-xpath-map-functions.html
/specifications/xpath-functions-31/build/ns-xpath-math-functions.html
/specifications/xpath-functions-31/html/Overview.xml
/specifications/xpath-functions-31/html/xpath-functions.xsd
/specifications/xslt-40/build/
/specifications/xslt-40/html/
/specifications/xpath-functions-40/build/
/specifications/xpath-functions-40/html/
/specifications/xquery-40/build/
/specifications/xquery-40/html/
/specifications/xslt-xquery-serialization-31/html/
/specifications/xslt-xquery-serialization-31/build/
