/* Data Model */

      .termdef     { color: rgb(133,0,033);
                   }
      .aside       { border-left: 4px solid green;
                     background-color: #EEFFEE;
                     padding-left: 1em;
                     font-size: small;
                   }

      .node-summary table       { margin-left: 1em;
                                }
      .node-summary thead td    { font-weight: bold;
                                }
      .node-summary td          { padding-left: 1em;
                                  padding-right: 1em;
                                  border-bottom: 1px solid gray;
                                }

      .issue-closed             { color: green;
                                }

      .issue-resolved           { color: red;
                                }

      .issue-open               { color: red;
                                }

tr.document               { background-color: #FFD4EA; }
tr.element                { background-color: #96E3D1; }
tr.attribute              { background-color: #E7E6FF; }
tr.text                   { background-color: #FFFFC2; }
tr.processing-instruction { background-color: #E5FDFE; }
tr.comment                { background-color: #E1E1E1; }
tr.namespace              { background-color: #E7E6FF; }
