/* Grammar */
html {
    font-size: 14pt;
    line-height: 1.5;
}

body {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
}

table tbody tr td {
    font-size: 14pt;
}

code {
    font-size: 90%;
}

ul.toc {
    list-style: none;
    font-family: sans-serif;
}

div > ul.toc {
    padding-left: 1rem;
}

.paren, .occur {
    font-weight: bold;
}

.oparen::after {
    content: " ";
}

.cparen::before {
    content: " ";
}

td {
    vertical-align: top;
    padding: 4px;
}

table {
    background-color: #eeeeee;
    border-spacing: 0;
    border-collapse: collapse;
}

table.grammar tbody tr:nth-child(odd) {
    background-color: inherit;
}

table.grammar tbody tr:nth-child(even) {
    background-color: white;
}

.ch {
    background-color: #ddddff;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.grammar .ch {
    display: none;
}

.charCodeRange {
    white-space: nowrap;
}
