version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - add_ssh_keys:
          fingerprints:
            - "31:2f:3a:77:33:01:13:70:7a:a4:50:fd:45:dd:22:d9"
            - "9c:ea:35:11:e9:9f:73:a3:a9:28:44:6b:fd:34:04:62"

      - run: sudo apt-get update
      - run: sudo apt-get dist-upgrade
      - run: sudo apt-get install graphviz

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: gradle

      - run: ./.circleci/publish-specs.sh

workflows:
  version: 2
  check:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
