/* Common to all QTSpecs */

code           { font-family: monospace; }

div.constraint,
div.issue,
div.note,
div.notice     { margin-left: 2em; }

div.issue
p.title        { margin-left: -2em; }

ol.enumar      { list-style-type: decimal; }
ol.enumla      { list-style-type: lower-alpha; }
ol.enumlr      { list-style-type: lower-roman; }
ol.enumua      { list-style-type: upper-alpha; }
ol.enumur      { list-style-type: upper-roman; }

li p           { margin-top: 0.3em;
                 margin-bottom: 0.3em; }

sup small      { font-style: italic;
                 color: #8F8F8F;
               }

div.schemaComp  { border: 4px double gray;
                  margin: 0em 1em;
                  padding: 0em;
                }
div.compHeader  { margin: 4px;
                  font-weight: bold;
                }
span.schemaComp { background-color: white;
                  color: #A52A2A;
                }
div.compBody    { border-top-width: 4px;
                  border-top-style: double;
                  border-top-color: #d3d3d3;
                  padding: 4px;
                  margin: 0em;
                }

div.exampleInner { background-color: #d5dee3;
                   color: black;
                   border-top-width: 4px;
                   border-top-style: double;
                   border-top-color: #d3d3d3;
                   border-bottom-width: 4px;
                   border-bottom-style: double;
                   border-bottom-color: #d3d3d3;
                   padding: 4px;
		   margin-bottom: 4px;
                 }

div.issueBody    { margin-left: 0.25in;
                 }

code.function    { font-weight: bold;
                 }
code.return-type { font-style: italic;
                 }
code.type        { font-style: italic;
                 }
code.as          { font-style: normal;
                 }
code.arg         {
                 }
code.strikeout   { text-decoration: line-through;
                 }
code.small       { font-size: small;
                 }
p.table.footnote { font-size: 8pt;
                 }

dd.indent        { margin-left: 2em;
                 }

p.element-syntax { border: solid thin; background-color: #ffccff
                 }

p.element-syntax-chg { border: solid thick yellow; background-color: #ffccff
                 }


div.example-chg  { border: solid thick yellow; background-color: #40e0d0; padding: 1em
                 }
                 
span.verb        { font: small-caps 100% sans-serif
                 }

span.error       { font-size: small
                 }

span.definition  { font: small-caps 100% sans-serif
                 }

span.grayed      { color: gray
                 }

td.castOther     { background-color: yellow;
                   color: black;
                   text-align: center;
                   vertical-align: middle;
                 }

.ednote {
border: 4px solid #ffdddd;
border-radius: 2px;
width: 100%;
background: repeating-linear-gradient(
  -45deg,
  #ffffff,
  #ffffff 74px,
  #ffdddd 20px,
  #ffdddd 80px
);
}
                 
table.scrap td {
	 vertical-align: baseline;
	 text-align: left;
	 padding-left: 30px;
}

table.data table.index {
 border-bottom:2px !important ;
}

.markup-error {
  background-color: red;
  color: yellow;
}

div.exampleInner pre { margin-left: 1em;
                       margin-top: 0em; margin-bottom: 0em}
                       
pre.small { font-size: small }                       
div.exampleOuter {border: 4px double gray;
                  margin: 0em; padding: 0em}
div.exampleInner { background-color: #d5dee3;
                   padding: 4px; margin: 0em }
                   
div.exampleInner table { border: 0;
                         border-spacing: 0;
                       }
                   
div.exampleInner td { vertical-align: baseline;
                      padding: 0;
                    }
                   
div.exampleWrapper { margin: 4px }
div.exampleHeader { font-weight: bold;
                    margin: 4px}
                    
div.proto { border: 0;
            border-spacing: 0; 
          }

div.issue { border-bottom-color: black;
            border-bottom-style: solid;
	    border-bottom-width: 1pt;
	    margin-bottom: 20pt;
}

th.issue-toc-head { border-bottom-color: black;
                    border-bottom-style: solid;
                    border-bottom-width: 1pt;
}
