:root {
    max-width: 50rem;
    font-size: 14pt;
    line-height: 1.2;
    background-color: #F8F8F8;
    color: black;
}

html {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS",Verdana,sans-serif;
}

h1 {
    background-color: #2061A2;
    color: #F8F8F8;
    margin: 0;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
}

.outline-4, .outline-5 {
    padding-left: 2rem;
}

.outline-6, .outline-7 {
    padding-left: 1rem;
}

h2 {
    border-bottom: 4px solid #67B3E3;
    color: #13679D;
}

h3, h4, h5, h6 {
    color: #1572AE;
}

h3 {
    border-bottom: 1px solid #B5DAF1;
}

h4 {
    border-bottom: 1px dotted #C9E3F5;
}

code {
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    color: #444444;
    font-family: monospace;
    /* font-size: 0.93em; */
    margin: 0px 1px;
    padding: 0px 2px;
}

a, a:visited, a:link {
    color: inherit;
}
