html {
    font-size: 14pt;
    max-width: 50rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

thead th {
    color: white;
    background-color: black;
}

th {
    text-align: left;
}

tr td, tr th {
    padding: 4px;
}

tbody tr td, tbody tr th {
    background-color: #f8f8f8;
}

tbody tr:nth-child(even) td, tbody tr:nth-child(even) th {
    background-color: #dddddd;
}
