/* XPath/XQuery shared */

.wsspec      { font-family: monospace; font-size: small; font-style: italic }      

.xpath         { color: red; background-color: white }
.xquery      { color: green; background-color: white }

.xpath:link { color: red; background-color: white }
.xpath:visited { color: red; background-color: white }

.shared:link { color: black; background-color: white }
.shared:visited { color: black; background-color: white }

.xquery:link { color: green; background-color: white }
.xquery:visited { color: green; background-color: white }
