<config grammar="../build/grammar-40/xpath-grammar.xml">
  <specification title="XSLT Streaming Version 4.0"
                 href="https://qt4cg.org/specifications/xslt-streaming-40/Overview.html"
                 src="../build/www/xslt-streaming-40/xslt-streaming-40.xml"/>
  <specification title="XSLT Transformations (XSLT) Version 4.0"
                 href="https://qt4cg.org/specifications/xslt-40/Overview.html"
                 src="../build/www/xslt-40/xslt-40.xml"/>
  <specification title="XPath and XQuery Functions and Operators 4.0"
                 href="https://qt4cg.org/specifications/xpath-functions-40/Overview.html"
                 src="../build/www/xpath-functions-40/xpath-functions-40.xml"/>
  <specification title="XPath 4.0"
                 href="https://qt4cg.org/specifications/xquery-40/xpath-40.html"
                 src="../build/www/xquery-40/xpath-40.xml"/>
  <specification title="XQuery 4.0: An XML Query Language"
                 href="https://qt4cg.org/specifications/xquery-40/xquery-40.html"
                 src="../build/www/xquery-40/xquery-40.xml"/>
  <specification title="XQuery and XPath Data Model 4.0"
                 href="https://qt4cg.org/specifications/xpath-datamodel-40/Overview.html"
                 src="../build/www/xpath-datamodel-40/xpath-datamodel-40.xml"/>
  <specification title="XSLT and XQuery Serialization 4.0"
                 href="https://qt4cg.org/specifications/xslt-xquery-serialization-40/Overview.html"
                 src="../build/www/xslt-xquery-serialization-40/xslt-xquery-serialization-40.xml"/>
  <specification title="EXPath Binary Module 4.0"
                 href="https://qt4cg.org/specifications/expath-binary-40/Overview.html"
                 src="../build/www/expath-binary-40/binary-40.xml"/>
  <specification title="EXPath File Module 4.0"
                 href="https://qt4cg.org/specifications/expath-file-40/Overview.html"
                 src="../build/www/expath-file-40/file-40.xml"/>
</config>
