<config grammar="xpath-grammar.xml">
  <specification title="XSLT Transformations (XSLT) Version 3.0"
                 href="https://www.w3.org/TR/xslt-30/"
                 src="xslt-30.xml"/>
  <specification title="XPath and XQuery Functions and Operators 3.1"
                 href="https://www.w3.org/TR/xpath-functions-31/"
                 src="xpath-functions-31.xml"/>
  <specification title="XML Path Language (XPath) 3.1"
                 href="https://www.w3.org/TR/xpath-31/"
                 src="xpath-31.xml"/>
  <specification title="XQuery 3.1: An XML Query Language"
                 href="https://www.w3.org/TR/xquery-31/"
                 src="xquery-31.xml"/>
  <specification title="XQuery and XPath Data Model 3.1"
                 href="https://www.w3.org/TR/xpath-datamodel-31/"
                 src="xpath-datamodel-31.xml"/>
  <specification title="XSLT and XQuery Serialization 3.1"
                 href="https://www.w3.org/TR/xslt-xquery-serialization-31/"
                 src="xslt-xquery-serialization-31.xml"/>
</config>
