/* Grammar styles */
:root {
    /* sizes */
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));    /* 0.131rem */
    --s-4: calc(var(--s-3) / var(--ratio));    /* 0.198rem */
    --s-3: calc(var(--s-2) / var(--ratio));    /* 0.296rem */
    --s-2: calc(var(--s-1) / var(--ratio));    /* 0.444rem */
    --s-1: calc(var(--s0) / var(--ratio));     /* 0.667rem */
    --s0: 1rem;                                /* 1.000rem */
    --s1: calc(var(--s0) * var(--ratio));      /* 1.500rem */
    --s2: calc(var(--s1) * var(--ratio));      /* 2.250rem */
    --s3: calc(var(--s2) * var(--ratio));      /* 3.375rem */
    --s4: calc(var(--s3) * var(--ratio));      /* 5.063rem */
    --s5: calc(var(--s4) * var(--ratio));      /* 7.594rem */

    /* colors */
    --black: #161622;
    --white: #fefefe;
    --lightgrey: #f4f1fa;
 
    --ch: #d3daf9;
    --gr: #131462;
}

html {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

/* centered blocks */
header, main, nav {
    box-sizing: content-box;
    max-width: 60rem;
    margin-inline: auto;
    padding-inline: var(--s0);
}

body {
    padding-inline: 0;
    margin-inline: 0;
    margin-block-start: 0;
    margin-block-end: var(--s5);

    background-color: var(--white);
    color: var(--black);
    font-family: sans-serif;
}

.ribbon {
    background-color:var(--gr);
    color:var(--white);
}

nav {
    margin-block: 0;
    padding-inline: var(--s-2);
    padding-block-start: var(--s-1);
    padding-block: var(--s-3);
    min-height: var(--s1);
}

nav a,
nav a:hover,
nav a:visited,
nav a:active {
    color: inherit;
    text-decoration: none;
}

nav a::before {
    content: "⬅︎";
    margin-inline-end: var(--s-2);
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    line-height: 1.125;
}
h1 {
    font-size: var(--s3);
}
h2 {
    font-size: var(--s2);
}
h3 {
    font-size: var(--s1);
}

h1 code {
    font-size: .6em;
}

/* TOC page */
ul.toc {
    list-style: none;
    font-family: sans-serif;
}

div > ul.toc {
    padding-left: 0;
}

/*  */

/* code { */
/* } */

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: var(--lightgrey);
}

tr:nth-child(even) {
    background-color: var(--white);
}

td.rule {
    max-width: 26ch; /* the longest rule name */
}
td.assign {
    width: 3ch;
}
td.rhs {
    width: 100%;
}

td {
    vertical-align: baseline;
    font-family: monospace;
    padding-inline: var(--s-2);
    padding-block: var(--s-3);
    font-size: var(--s0);
}

a {
    font-weight: normal;
}

.bracket, .paren, .occur, .choice,
.assign code {
    font-weight: bold;
    color: var(--gr);
}

/* reset font styles for literals */
.string, .char {
    font-weight: normal;
    color: var(--black);
}

/* only apply maring to parens brackets get margin from content */
.paren.opening {
    margin-inline-end: var(--s-2);
}
.paren.closing {
    margin-inline-start: var(--s-2);
}

.charClass {
    display: inline-block;
    margin-inline: var(--s-2);
}

.charCodeRange {
    white-space: nowrap;
}

.grammar .ch {
    display: none;
}

.ch {
    background-color: var(--ch);
    padding-inline: var(--s-2);
    padding-block: var(--s-4);
    border-radius: var(--s-4);
    user-select: none;
    -webkit-user-select: none;
}

