/* XSLT */

dd.indent { margin-left: 2em; }
p.element-syntax { border: solid thin; background-color: #ffccff }

div.example { border: solid thin; background-color: #40e0d0; padding: 1em }
span.verb { font: small-caps 100% sans-serif } 
span.error { font: small-caps 100% sans-serif } 
span.definition { font: small-caps 100% sans-serif } 
span.grayed { color: gray }

div.proto        { 
padding: .5em;
border: .5em;
border-left-style: solid;
page-break-inside: avoid;
margin: 1em auto;
border-color: #ff99ff;
background: #ffe6ff;
overflow: auto;
}

p.element-syntax        { 
    padding: .5em;
		border: .5em;
		border-left-style: solid;
		page-break-inside: avoid;
		margin: 1em auto;
		border-color: #ff99ff;
		background: #ffe6ff;
		overflow: auto;
                 }

div.proto        { 
    padding: .5em;
		border: .5em;
		border-left-style: solid;
		page-break-inside: avoid;
		margin: 1em auto;
		border-color: #ff99ff;
		background: #ffe6ff;
		overflow: auto;
                 }

table.proto tr td,
table.record tr td, {
  font-family: monospace;
  padding-right: 0.5em;
}
table.proto tr.arg td:first-child,
table.record tr.arg td:first-child  {
  padding-left: 2em;
}
table.proto tr.name span.name {
  font-weight: bold;
}

#function-finder {
  position: absolute;
  background-color: rgb(247, 248, 249);
  opacity 1;
  width: 23.5em;
  border-bottom: 1px solid rgb(135,149,159);
  padding-bottom: 0.5em;
  margin-bottom: 4px;
}

@media screen and (min-width: 78em) {
  #function-finder {
    position: fixed;
  }
}

div.ffheader {  
    margin-top: .8rem;
    font-size: 140%;
    font-variant: all-small-caps;
    text-transform: lowercase;
    font-weight: bold;
    color: hsla(203, 20%, 40%, .7);
}                  

#toc h2 {
    padding-top: 4em !important;
}
