/* XPath Functions */

#toc h2 {
  padding-top: 4em ! important;
}

#function-finder {
  position: fixed;
  background-color: rgb(247, 248, 249);
  opacity 1;
  width: 23.5em;
  border-bottom: 1px solid rgb(135,149,159);
  padding-bottom: 0.5em;
  margin-bottom: 4px;
}

.return-varies { font-weight: bold;
                   font-style: italic;
                 }
.proto .return-type-ref {
  background-color: #fff6ff;
  font-style: normal;
}

div.ffheader     {  
			margin-top: .8rem;
			font-size: 140%;
			font-variant: all-small-caps;
			text-transform: lowercase;
			font-weight: bold;
			color: hsla(203, 20%, 40%, .7);
		}                  

table.casting    { font-size: x-small;
                 }
table.hierarchy  { font-size: x-small;
                 }
table.proto      {
                  
                 }

td.castY         { background-color: #7FFF7F;
                   color: black;
                   text-align: center;
                   vertical-align: middle;
                 }

td.castN         { background-color: #FF7F7F;
                   color: black;
                   text-align: center;
                   vertical-align: middle;
                 }

td.castM         { background-color: white;
                   color: black;
                   text-align: center;
                   vertical-align: middle;
                 }

span.cancast:hover { background-color: #ffa;
                   color: black;
                 }

div.protoref     { margin-left: 0.5in;
                   text-indent: -0.5in;
                 }

div.proto        { 
    padding: .5em;
		border: .5em;
		border-left-style: solid;
		page-break-inside: avoid;
		margin: 1em auto;
		border-color: #ff99ff;
		background: #ffe6ff;
		overflow: auto;
                 }

div.record        { 
    padding: .5em;
		border: .5em;
		border-left-style: solid;
		page-break-inside: avoid;
		margin: 1em auto;
		border-color: #ffaaff;
		background: #fff6ff;
		overflow: auto;
                 }



table.proto tr td,
table.record tr td, {
  font-family: monospace;
  padding-right: 0.5em;
}
table.proto tr.arg td:first-child,
table.record tr.arg td:first-child  {
  padding-left: 2em;
}
table.proto tr.name span.name {
  font-weight: bold;
}
span.dagger {
  font-family: serif;
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
}
