name: build-specs
on: push
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      HAVE_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN != '' }}
      BRANCH_NAME: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get install tidy graphviz

      - name: Build
        run: |
          ./gradlew

      - name: Deploy to specifications
        if: ${{ env.HAVE_ACCESS_TOKEN == 'true' && github.ref_name == 'master' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/www
          token: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          target-folder: /specifications

      - name: Deploy to branch
        if: ${{ env.HAVE_ACCESS_TOKEN == 'true' && github.ref_name != 'master' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/www
          token: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          target-folder: /branch/${{ github.ref_name }}
